<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="reg-container">
        <form id="reg-form">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>

            <label for="nickname">Nickname</label>
            <input type="text" id="nickname" name="nickname" required>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>

            <button id="submit">Register</button>
        </form>
    </div>
    <script>
        document.getElementById('reg-form').addEventListener('submit', async (event) => {
            event.preventDefault()

            const email = document.getElementById('email').value
            const nickname = document.getElementById('nickname').value
            const password = document.getElementById('password').value

            const response = await fetch('/auth/register', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({ email, nickname, password })
            })

            if (response.ok) {
                alert('Reg success')
                window.location.href = '/pages/login'
            } else {
                const errorData = await response.json()
                alert(errorData.detail)
            }
        })
    </script>
</body>
</html>