<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Задачи</title>
</head>
<body>
    <div>
        {% for task in tasks %}
        <div>
            <h1>{{task.name}}</h1>
            <p>{{task.description}}</p>
        </div>
        {% endfor %}
    </div>
    <button id="logout">Logout</button>
</body>
<script>
    const logoutButton = document.getElementById('logout')

    logoutButton.addEventListener('click', async (event) => {
        event.preventDefault()

        const response = await fetch('/auth/logout', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
        })
        if (response.ok) {
            alert('Logout success')
        }
    })
</script>
</html>